
:root {
    --background-color: #ffffff; /* Define a CSS variable for background color */
    --Text-Color: rgb(0, 0, 0);
    --header-footer-color: #000000;
    --all-mini-boxs-color: rgb(0, 0, 0);
    --all-mini-boxs-text-color: rgb(255, 255, 255);
  }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', 'Arial', sans-serif;
}



body {
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
}

/* Notification Bar Styles */
.notification-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 1.5rem; /* Set the height of the notification bar */
    width: 100%;
    background-color: #fe2d29;
    color: white;
    text-align: center;
    z-index: 9999; /* Ensure this is higher than other elements */
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden; /* Prevent overflow of the animation */
    white-space: nowrap; /* Keep text in a single line */
    line-height: 1.5rem; /* Match the line-height to the height of the bar */
    padding: 0; /* Remove default padding */
}


/* Keyframes for the scrolling animation */
@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Apply animation to the span inside the notification bar */
.notification-bar span {
    display: inline-block;
    animation: scroll-text 15s linear infinite;
}

/* Header Styles */
header {
    font-weight: 900;
    background-color: var(--header-footer-color);
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 40px; /* Adjust based on the height of the notification bar */
    z-index: 1000; /* Ensure this is below the notification bar */
    box-shadow: 5px 5px 10px rgba(252, 3, 3, 0.993);
    /* Add a margin-top equivalent to the height of the notification bar */
    margin-top: -16px; /* Adjust as necessary */
}

/* .sc-banner {
    object-fit: fill;
padding: 115px 30px 0px 30px;
height: 110px;

} */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a:hover {
    color: rgb(255, 0, 0); /* Text color on hover */
  }


.logo {
    display: flex;
    align-items: center; /* Align the image and text vertically */
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; /* Remove underline for the whole logo */
}

.logo a {
    display: flex; /* Ensure the link wraps both the image and text */
    align-items: center; /* Vertically align the image and text */
    text-decoration: none; /* Remove underline for the text inside the link */
    color: inherit; /* Use the same text color as the parent */
}

.logo-image {
    width: 50px; /* Adjust the size of the logo image */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Space between the image and the text */
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}

.logo-text span {
    display: inline-block;
    animation: red-wave 1.5s ease-in-out infinite; /* Infinite loop for animation */
    color: black; /* Default text color */
}

/* Define the keyframes for the red color animation */
@keyframes red-wave {
    0%, 100% {
        color: rgb(243, 239, 239); /* Start and end with black (or your default color) */
    }
    50% {
        color: red; /* Middle of the transition is red */
    }
    60% {
        color: rgb(255, 102, 0); /* Middle of the transition is red */
    }
    65% {
        color: rgb(255, 102, 0); /* Middle of the transition is red */
    }
    70% {
        color: rgb(255, 60, 0); /* Middle of the transition is red */
    }
}

/* Delay the animation for each letter */
.logo-text span:nth-child(1) { animation-delay: 0s; }
.logo-text span:nth-child(2) { animation-delay: 0.1s; }
.logo-text span:nth-child(3) { animation-delay: 0.2s; }
.logo-text span:nth-child(4) { animation-delay: 0.3s; }
.logo-text span:nth-child(5) { animation-delay: 0.4s; }
.logo-text span:nth-child(6) { animation-delay: 0.5s; }
.logo-text span:nth-child(7) { animation-delay: 0.6s; }
.logo-text span:nth-child(8) { animation-delay: 0.7s; }
.logo-text span:nth-child(9) { animation-delay: 0.8s; }
.logo-text span:nth-child(10) { animation-delay: 0.9s; }
.logo-text span:nth-child(11) { animation-delay: 1s; }




nav ul {
    display: none;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menu-toggle {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-toggle {
    display: none; /* Initially hide the close toggle */
    cursor: pointer; /* Change cursor to pointer */
}


/* Media Query for Mobile */
@media (max-width: 768px) {
    nav ul {
        display: none; /* Hide items by default */
        flex-direction: column; /* Stack items vertically */
        position: absolute; /* Position it absolutely */
        background-color: rgba(228, 223, 223, 0.2); /* Light transparent background */
        backdrop-filter: blur(10px); /* Glass effect */
        width: 100%; /* Full width */
        top: 60px; /* Position below the header */
        left: 0; /* Align left */
        z-index: 999; /* Ensure it’s above other content */
        padding: 1rem; /* Add padding for the items */
        border-radius: 5px; /* Rounded corners */
    }

    nav ul li a {
        color: #000000;
    }


    nav ul.show {
        display: flex; /* Show items when the menu is toggled */
    }

    .menu-toggle {
        display: block; /* Show toggle button */
    }

    nav ul li {
        margin: 0.5rem 0; /* Add vertical spacing between items */

    }
}




section {
    padding: 4rem 1rem;
    scroll-margin-top: 4rem;
}

h2 {
    margin-bottom: 1rem;
}


/* Slider Container */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(233, 232, 232, 0.1);
    height: 65vh; /* Adjust the height as a percentage of the viewport */
    margin-top: 1rem;
}

/* Slider Images */
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ensures the image covers the container without breaking aspect ratio */
}

/* Navigation Arrows */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Circle Indicators (Overlaid on Slider) */
.circle-indicators {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.circle {
    height: 15px;
    width: 15px;
    margin: 0 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.circle.active {
    background-color: white;
}

.circle:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Responsive Design */
@media (max-width: 768px) {
    .slider-container {
        height: 40vh; /* Adjust height for smaller screens */
    }

    .prev, .next {
        padding: 10px;
        font-size: 20px;
        width: 40px;
        height: 40px;
    }

    .circle-indicators {
        bottom: 10px;
    }

    .circle {
        height: 12px;
        width: 12px;
        margin: 0 6px;
    }
}

@media (max-width: 480px) {
    .slider-container {
        height: 30vh; /* Further adjust height for very small screens */
    }

    .prev, .next {
        padding: 8px;
        font-size: 18px;
        width: 35px;
        height: 35px;
    }

    .circle {
        height: 10px;
        width: 10px;
        margin: 0 4px;
    }
}


.faq-item {
    margin-bottom: 1rem;

}



.faq-question {
    background-color: var(--all-mini-boxs-color);
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: space-between; /* Space between text and icon */
    align-items: center;
    color: var(--all-mini-boxs-text-color);
    position: relative;

}



.faq-question::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(90deg, red, yellow, green, blue, purple);
    background-size: 300% 300%; /* Make the gradient larger for smooth animation */
    z-index: -1;
    border-radius: 12px;
    animation: gradient-rotate 4s linear infinite; /* Continuous rotation */
}

/* Animation for rotating gradient */
@keyframes gradient-rotate {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


.faq-answer {
    overflow: hidden;
    max-height: 0; /* Initially hidden */
    padding: 0; /* No padding initially */
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    background-color: var(--all-mini-boxs-color);
    transition: max-height 0.4s ease, padding 0.4s ease;
    color: var(--all-mini-boxs-text-color);
    position: relative;
}


.faq-answer::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(90deg, red, yellow, green, blue, purple);
    background-size: 300% 300%; /* Make the gradient larger for smooth animation */
    z-index: -1;
    border-radius: 12px;
    animation: gradient-rotate 4s linear infinite; /* Continuous rotation */
}

/* Animation for rotating gradient */
@keyframes gradient-rotate {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.faq-answer.open {
    max-height: 200px; /* Adjust based on content */
    padding: 1rem;
}

.faq-question i {
    font-size: 1.2rem;
    color: var(--all-mini-boxs-text-color);
}


  /* Default styles of instagram production for PC */
  #instagramIframe {
    width: 100%;
    height: 800px;
  }

  /* Adjust height for mobile devices */
  @media (max-width: 768px) {
    #instagramIframe {
      height: 420px; /* You can adjust this value for the desired height on mobile */
    }
  }


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.gallery .gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.2);

}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}



        /* testimonials css */

        .testimonials-container {
            max-width: 1200px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            padding: 15px 15px 15px 15px;
        }

        .testimonials-wrapper {
            display: flex;
            transition: transform 0.3s ease;
        }

        .testimonial {
            flex: 0 0 100%;
            padding: 20px;
            border: 1px solid #ff0000;
            border-radius: 8px;
            margin-right: 20px;
            background-color: rgba(255, 244, 244, 1);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }

        .testimonial-header {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .testimonial-photo {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 15px;
        }

        .testimonial-info {
            display: flex;
            flex-direction: column;
        }

        .testimonial-name {
            font-weight: bold;
        }

        .testimonial-country {
            font-size: 0.9em;
            color: #666;
        }

        .testimonial-content {
            font-style: italic;
        }

        @media (min-width: 768px) {
            .testimonial {
                flex: 0 0 calc(33.333% - 20px);
            }

        }

        @media (max-width: 767px) {
            .testimonials-container {
                max-width: 100%;
                padding: 0.5 20px;
            }

            .testimonial {
                margin-right: 0;
            }
        }



.contact-container {
display: flex;
flex-wrap: wrap;
margin: 2rem auto;
max-width: 1200px; /* Adjust as needed */
gap: 2rem;
}


.contact-details {
flex: 1;
padding: 1rem;
border-radius: 8px; /* Optional: add rounded corners */
background-color: var(--all-mini-boxs-color); /* Optional: add background color */
color: var(--all-mini-boxs-text-color);
text-decoration: none;
position: relative;

}


.contact-details::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(90deg, red, yellow, green, blue, purple);
    background-size: 300% 300%; /* Make the gradient larger for smooth animation */
    z-index: -1;
    border-radius: 12px;
    animation: gradient-rotate 4s linear infinite; /* Continuous rotation */
}

/* Animation for rotating gradient */
@keyframes gradient-rotate {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


.contact-details h3 {
margin-bottom: 1rem;
}

.contact-details ul {
list-style: none;
padding: 0;
}

.contact-details li {
margin-bottom: 0.5rem;
text-decoration: none;
}

.contact-details a {
    text-decoration: none;
    color: inherit; /* This will make the link color inherit from its parent element */
}

.contact-details a:hover {
    text-decoration: underline; /* Optional: add underline on hover for better accessibility */
}


.contact-form {
flex: 2;
display: grid;
gap: 1rem;
padding: 1rem;
border-radius: 8px; /* Optional: add rounded corners */
background-color: var(--all-mini-boxs-color); /* Optional: add background color */
position: relative;
}


.contact-form::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(90deg, red, yellow, green, blue, purple);
    background-size: 300% 300%; /* Make the gradient larger for smooth animation */
    z-index: -1;
    border-radius: 12px;
    animation: gradient-rotate 4s linear infinite; /* Continuous rotation */
}

/* Animation for rotating gradient */
@keyframes gradient-rotate {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


.contact-form input,
.contact-form textarea {
width: 100%;
padding: 0.5rem;
border: 1px solid #ddd;
border-radius: 4px;
}

.contact-form button {
background-color: #000000;
color: #fff;
border: none;
padding: 0.5rem 1rem;
cursor: pointer;
border-radius: 4px;
}

.divider {
flex: 0 0 auto;
border: none;
border-left: 2px solid #ddd;
height: 100%;
}

.map-container {
margin-top: 2rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
.contact-container {
flex-direction: column;
}

.divider {
display: none;
}
}





/* WhatsApp Button */
.whatsapp-btn {
position: fixed;
bottom: 20px;
right: 20px;
background-color: #25D366; /* WhatsApp green */
border-radius: 50%;
padding: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
z-index: 1000;
display: flex;
align-items: center;
justify-content: center;
}

.whatsapp-btn img {
width: 40px; /* Adjust size as needed */
height: 40px; /* Adjust size as needed */
}

/* Social Icons */
.social-icons {
position: fixed;
left: 3px;
top: 70%;
transform: translateY(-50%);
display: flex;
flex-direction: column;
gap: 3px;
z-index: 1000;
transition: opacity 0.5s ease, visibility 0.5s ease;
}

.social-icons a {
display: block;
width: 40px; /* Adjust size as needed */
height: 40px; /* Adjust size as needed */
}

.social-icons img {
width: 100%;
height: 100%;
}


/* Hidden state */
.social-icons.hidden {
opacity: 0;
visibility: hidden;
}



@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
    }


    .menu-toggle {
        display: none;
    }


    /* left right space in web page */
    section {
        padding: 5rem 2rem 0rem 2rem;
    }

    /* .image-scroll img {
        height: 400px;
    } */
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}



footer {
    background-color: var(--header-footer-color);
    color: var(--all-mini-boxs-text-color);
    padding: 20px 0;
    box-shadow: 0px -5px 10px rgba(252, 3, 3, 0.993);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;


  }
  
  .footer-container {
    max-width: 1200px;  /* Allow container to take full width */
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-left {
    flex: 1;
    margin-right: 20px;
    text-align: left; /* Center align text */
  }
  
  .footer-logo-text {
    display: flex;
    justify-content: left; /* Center align logo and text */
    align-items: center;
  }
  
  .footer-left h2 {
    font-size: 2rem;
    margin-bottom: -1px;
  }
  
  .footer-left p {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  .footer-right {
    flex: 2;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    flex: 1;
    text-align: center; /* Center align text */
  }
  
  .footer-column h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    font-size: 0.9rem;
  }
  


  .footer-column ul li:hover {
    color: rgb(255, 0, 0); /* Text color on hover */
    text-decoration: underline #fe2d29;
  }

  /* Footer Bottom Styles */
  .footer-bottom {
    padding: 10px 20px; /* Adjusted padding for better alignment */
    text-align: center; /* Center align text */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .foot-social-icons {
    display: flex;
    font-size: x-large;
    gap: 20px;
    justify-content: center; /* Center align social icons */
  }
  
  .foot-social-icons i {
    font-size: xx-large;
    color: #ffffff; /* Replace #ff0000 with your desired color */
  }
  
  .foot-social-icons i:hover{
    color: rgb(255, 0, 0);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center; /* Center align container */
      text-align: center;
    }
  
    .footer-right {
      flex-direction: column;
      align-items: center; /* Center align columns */
    }
  
    .footer-column {
      margin-bottom: 20px;
    }
  
    .footer-left {
      margin-bottom: 20px;
    }
  
    .footer-bottom {
      flex-direction: column;
      gap: 10px;
      padding: 10px 15px; /* Adjust padding for better alignment on small screens */
    }



  }


